/*GENERAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Oxygen', sans-serif;
}

body{
    background-color:#7fffd4 ;
    height: 100vh;
}


/*UTILITIES*/

.m-15{
    margin: 15px;
}

.play{
    width: 90px;
}

#level{
    width: 170px;
}

/*HEADER*/

header{
    height: 80px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 80px;
    height: 80px;
}

/*MAIN*/

main{
    text-align: center;
    padding-bottom:30px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 50px auto;
}

.grid.end-game .square{
    pointer-events: none;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    cursor: pointer;
}

.square.bomb,
.square.safe{
    color: #fff;
    cursor: default;

}

.square.safe{
    background: cornflowerblue;
}

.square.bomb{   
    background: rgb(199, 22, 22);
}

/*FOOTER*/

footer{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #fff;
}

.boolean{
    text-decoration: underline;
    color:#8c64b0 ;
}