/*GENERAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;

    font-family: 'Oxygen', sans-serif;
}


/*UTILITIES*/

.m-15{
    margin: 15px;
}

.play{
    width: 90px;
}

#level{
    width: 170px;
}

/*HEADER*/

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 80px;
    height: 80px;
}

/*MAIN*/

main{
    background-color:#7fffd4 ;
    text-align: center;
    padding-bottom:60px;
}



.grid{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: 50px auto;
    border: 2px solid #000;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    cursor: pointer;
}

.square.clicked{
    color: #fff;
    background: cornflowerblue;
}

/*FOOTER*/

footer{
    display: flex;
    align-items: center;
    height: 100px;
}

.boolean{
    text-decoration: underline;
    color:#8c64b0 ;

}